.taskItem {
  display: flex;
  align-items: center;

  background: var(--gray-500);
  border: 0.1rem solid var(--gray-400);

  border-radius: 0.8rem;
  padding: 1.6rem;
  column-gap: 1.2rem;
}

.taskItem p {
  color: var(--gray-100);
  line-break: anywhere;
}

.taskItem p.checked {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.taskItem small {
  font-size: 1.2rem;
}

.actions {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.deleteTask:hover {
  color: var(--danger);
}