.dateInput {
  height: 3.2rem;
  padding-inline: 0.8rem;
  max-width: 6rem;
  text-align: center;

  outline: 0;
  color: var(--gray-200);
  border: 0.1rem solid var(--gray-400);
  background: var(--gray-500);

  font-size: 1.2rem;

  transition: border-color 0.2s;
}

.dateInput:focus {
  border-color: var(--purple);
}

.dateInput:not(:focus) {
  color: var(--gray-300);
}

.dateInput:disabled {
  cursor: no-drop;
  color: var(--gray-300);
}

.error {
  color: var(--danger) !important;
}